<script src="__STATIC__/jquery/jquery.min.js"></script>
<script src="__STATIC__/popper.js/umd/popper.min.js"> </script>
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
<script src="__STATIC__/jquery.cookie/jquery.cookie.js"> </script>
<script src="__STATIC__/jquery-validation/jquery.validate.min.js"></script>
<script src="__STATIC__/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Main File-->
<script src="__STATIC__/js/front.js"></script>
