<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- User Info-->
      <div class="sidenav-header-inner text-center">
        <img src="__STATIC__/img/avatar-7.jpg" alt="person" class="img-fluid rounded-circle">
        <h2 class="h5">后台管理系统</h2><span>My Admin</span>
      </div>
      <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong>D</strong></a></div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <ul id="side-main-menu" class="side-menu list-unstyled">
        <li><a href="{:Url('index/wxChat')}"> <i class="icon-home"></i>公众号信息</a></li>
        <li><a href="forms.html"> <i class="icon-form"></i>职员信息</a></li>
      </ul>
    </div>
  </div>
</nav>

